body {
    background: black;
    color: white;
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 960px){
    .wrapper {
        display: grid;
        margin: 0;
        width:100vw;
        height: auto;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(12,1fr);
    }

    .first_picture {
        grid-row: 1/4;
        grid-column: 1/4;
    }

    .text_on_first {
        grid-row: 2/3;
        grid-column: 2/3;
        letter-spacing: -1px;  
        background: #e41f18; /* fallback color */
        background: rgba(228, 31, 24, 0.7);
        padding: 10px; 
    }

    .second_picture {
        grid-row: 4/7;
        grid-column: 1/4;
    }

    .text_on_second {
        grid-row: 5/6;
        grid-column: 2/3;
        letter-spacing: -1px;  
        background: #e41f18; /* fallback color */
        background: rgba(228, 31, 24, 0.7);
        padding: 10px; 
    }

    .third_picture {
        grid-row: 7/10;
        grid-column: 1/4;
    }

    .text_on_third {
        grid-row: 8/9;
        grid-column: 2/3;
        letter-spacing: -1px;  
        background: #e41f18; /* fallback color */
        background: rgba(228, 31, 24, 0.7);
        padding: 10px; 
    }

    .fourth_picture {
        grid-row: 10/13;
        grid-column: 1/4;
    }

    .text_on_fourth {
        grid-row: 11/12;
        grid-column: 2/3;
        letter-spacing: -1px;  
        background: #e41f18; /* fallback color */
        background: rgba(228, 31, 24, 0.7);
        padding: 10px; 
    }

    .about-text {
        grid-row: 4/9;
        grid-column: 1/4;
    }

    .we-best {
        grid-row: 9/10;
        grid-column: 1/4;
    }
}