body {
    background: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    color:#fff;
    z-index: 1000;
    height: 100px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
}

header.shrink {
    height: 75px;
}

ul {
    overflow: auto;
    list-style-type: none;
}

li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid white;
    padding: 10px;
}

li:last-child {
    border-right: none;
}

li a {
    text-decoration: none;
    color: white;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

li a:hover {
    color: #666;
}

.wrapper {
    display: grid;
    margin-top: 100px;
    width:100vw;
    height: auto;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(9,1fr);    
}

img {
    max-height: 900px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.first_picture {
    grid-row: 1/4;
    grid-column: 1/7;
}

.text_on_first {
    grid-row: 2/3;
    grid-column: 3/5;
    letter-spacing: -1px;  
    background: #e41f18; /* fallback color */
    background: rgba(228, 31, 24, 0.7);
    padding: 10px;
}

.second_picture{
    grid-row: 4/7;
    grid-column: 1/4;
}

.text_on_second {
    grid-row: 5/6;
    grid-column: 2/3;
    letter-spacing: -1px;  
    background: #e41f18; /* fallback color */
    background: rgba(228, 31, 24, 0.7);
    padding: 10px;
}

.third_picture {
    grid-row: 4/7;
    grid-column: 4/7;
}

.text_on_third {
    grid-row: 5/6;
    grid-column: 5/6;
    letter-spacing: -1px;  
    background: #e41f18; /* fallback color */
    background: rgba(228, 31, 24, 0.7);
    padding: 10px;
}

.fourth_picture {
    grid-row: 7/10;
    grid-column: 1/7;
}

.text_on_fourth {
    grid-row: 8/9;
    grid-column: 3/5;
    letter-spacing: -1px;  
    background: #e41f18; /* fallback color */
    background: rgba(228, 31, 24, 0.7);
    padding: 10px;
}

.about-text {
    grid-row: 4/6;
    grid-column: 2/6;
}

.we-best {
    grid-row: 6/7;
    grid-column: 2/6;
}

.big-boi-img {
    grid-row: 1/4;
    grid-column: 1/7;
}

.jobb-kort-text {
    grid-row: 2/3;
    grid-column: 3/5;
    letter-spacing: -1px;  
    background: #e41f18; /* fallback color */
    background: rgba(228, 31, 24, 0.7);
    padding: 10px;
}

.jobb-long-text {
    grid-row: 4/10;
    grid-column: 2/6;
    font-size: 55px;
}

.sprite-BurgareOriginal {
    grid-row: 1/3;
    grid-column: 1/3;
    width: 244px;
    height: 174px;
    background-position: -5px -5px;
}

.original_txt {
    grid-row: 1/3;
    grid-column: 3/4;
}

.sprite-Cheeseburgare {
    grid-row: 1/3;
    grid-column: 4/6;
    width: 244px;
    height: 174px;
    background-position: -5px -189px;
}

.cheeseburgare_txt {
    grid-row: 1/3;
    grid-column: 6/7;
}

.sprite-SalladSkit {
    grid-row: 4/6;
    grid-column: 1/3;
    width: 244px;
    height: 174px;
    background-position: -513px -189px;
}

.sallad_txt {
    grid-row: 4/6;
    grid-column: 3/4;
}

.sprite-Friscoburgare {
    grid-row: 4/6;
    grid-column: 4/6;
    width: 244px;
    height: 174px;
    background-position: -259px -189px;
}

.frisco_txt {
    grid-row: 4/6;
    grid-column: 6/7;
}

.sprite-CheeseNBacon {
    grid-row: 7/9;
    grid-column: 1/3;
    width: 244px;
    height: 174px;
    background-position: -259px -5px;
}

.cheesenbacon_txt {
    grid-row: 7/9;
    grid-column: 3/4;
}

.sprite-Halloumi {
    grid-row: 7/9;
    grid-column: 4/6;
    width: 244px;
    height: 174px;
    background-position: -513px -5px;
}

.halloumi_txt {
    grid-row: 7/9;
    grid-column: 6/7;
}

@media only screen and (max-width: 960px){
    ul {
        padding-left: 7%;
    }
    
    li a {
        font: 15px Helvetica, verdana, sans-serif;
    }

    img {
        height: auto;
    }

    p {
        font-size: 17px;
    }

    .wrapper {
        display: grid;
        margin-top: 100px;
        width:100vw;
        height: auto;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(12,1fr);
    }

    .first_picture {
        grid-row: 1/4;
        grid-column: 1/4;
    }

    .text_on_first {
        grid-row: 2/3;
        grid-column: 2/3;
        letter-spacing: -1px;  
        background: #e41f18; /* fallback color */
        background: rgba(228, 31, 24, 0.7);
        padding: 10px; 
    }

    .second_picture {
        grid-row: 4/7;
        grid-column: 1/4;
    }

    .text_on_second {
        grid-row: 5/6;
        grid-column: 2/3;
        letter-spacing: -1px;  
        background: #e41f18; /* fallback color */
        background: rgba(228, 31, 24, 0.7);
        padding: 10px; 
    }

    .third_picture {
        grid-row: 7/10;
        grid-column: 1/4;
    }

    .text_on_third {
        grid-row: 8/9;
        grid-column: 2/3;
        letter-spacing: -1px;  
        background: #e41f18; /* fallback color */
        background: rgba(228, 31, 24, 0.7);
        padding: 10px; 
    }

    .fourth_picture {
        grid-row: 10/13;
        grid-column: 1/4;
    }

    .text_on_fourth {
        grid-row: 11/12;
        grid-column: 2/3;
        letter-spacing: -1px;  
        background: #e41f18; /* fallback color */
        background: rgba(228, 31, 24, 0.7);
        padding: 10px; 
    }

    .about-text {
        grid-row: 4/9;
        grid-column: 1/4;
    }

    .we-best {
        grid-row: 9/10;
        grid-column: 1/4;
    }

    .big-boi-img {
        grid-row: 1/7;
        grid-column: 1/4;
    }

    .jobb-kort-text {
        grid-row: 3/5;
        grid-column: 2/3;
        letter-spacing: -1px;  
        background: #e41f18; /* fallback color */
        background: rgba(228, 31, 24, 0.7);
        padding: 10px; 
    }

    .jobb-long-text {
        grid-row: 7/13;
        grid-column: 1/4;
        font-size: 17px;
    }

    .sprite-BurgareOriginal {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .original_txt {
        grid-row: 1/2;
        grid-column: 2/4;
    }

    .sprite-Cheeseburgare {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .cheeseburgare_txt {
        grid-row: 3/4;
        grid-column: 2/4;
    }

    .sprite-SalladSkit {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .sallad_txt {
        grid-row: 5/6;
        grid-column: 2/4;
    }

    .sprite-Friscoburgare {
        grid-row: 7/8;
        grid-column: 1/2;
    }

    .frisco_txt {
        grid-row: 7/8;
        grid-column: 2/4;
    }

    .sprite-CheeseNBacon {
        grid-row: 9/10;
        grid-column: 1/2;
    }
    
    .cheesenbacon_txt {
        grid-row: 9/10;
        grid-column: 2/4;
    }

    .sprite-Halloumi {
        grid-row: 11/12;
        grid-column: 1/2;
    }
    
    .halloumi_txt {
        grid-row: 11/12;
        grid-column: 2/4;
    }
}