<div class="wrapper">
    <img class="first_picture" src="img/glad-grabb.jpg" alt="happy guy at MAX" style="width:100%">
    <p class="text_on_first">Max: Sveriges Godaste Hamburgare</p>
    <img class="second_picture" src="img/om_oss_bild.jpg" alt="Max's VD and vVD" style="width:100%">
    <p class="text_on_second">Om Oss</p>
    <img class="third_picture" src="img/meny_bild.jpg" alt="A burger indicating a menu" style="width:100%">
    <p class="text_on_third">Meny</p>
</div>