<div class="wrapper">
    <img class="original_img" src="img/BurgareOriginal.jpg" alt="Original Burgare" style="width:100%">
    <p class="original_txt">Vår Original Burgare är en burgare som ingen kan slå.</p>
    <img class="cheeseburgare_img" src="img/Cheeseburgare.jpg" alt="Cheese Burgare" style="width:100%">
    <p class="cheeseburgare_txt">En Burgare med god ost och andra kvalité produkter.</p>
    <img class="sallad_img" src="img/SalladSkit.jpg" alt="Shitty Salad Shit" style="width:100%">
    <p class="sallad_txt">Denna är la go, vet inte riktigt tho. Är ingen kanin lix.</p>
    <img class="frisco_img" src="img/Friscoburgare.jpg" alt="Frisco burgare" style="width:100%">
    <p class="frisco_txt">Frisco är vår och Sveriges bästa hamburgare.</p>
    <img class="cheesenbacon_img" src="img/CheeseNBacon.jpg" alt="Cheese N Bacon" style="width:100%">
    <p class="cheesenbacon_txt">Gillar du ost? Gillar du bacon? Look no further.</p>
    <img class="halloumi_img" src="img/Halloumi.jpg" alt="Halloumi Burgare" style="width:100%">
    <p class="halloumi_txt">Är bara en stor ost bit på lite bröd, vegetarisk tho.</p>
</div>