<div class="wrapper">
    <img class="original_img" src="img/BurgareOriginal.jpg" alt="Original Burgare" style="width:100%">
    <img class="cheeseburgare_img" src="img/Cheeseburgare.jpg" alt="Cheese Burgare" style="width:100%">
    <img class="sallad_img" src="img/SalladSkit.jpg" alt="Shitty Salad Shit" style="width:100%">
    <img class="frisco_img" src="img/Friscoburgare.jpg" alt="Frisco burgare" style="width:100%">
    <img class="cheesenbacon_img" src="img/CheeseNBacon.jpg" alt="Cheese N Bacon" style="width:100%">
    <img class="halloumi_img" src="img/Halloumi.jpg" alt="Halloumi Burgare" style="width:100%">
</div>