<div class="wrapper">
    <i class="sprite sprite-BurgareOriginal"></i>
    <p class="original_txt">Vår Original Burgare är en burgare som ingen kan slå.</p>
    <i class="sprite sprite-Cheeseburgare"></i>
    <p class="cheeseburgare_txt">En Burgare med god ost och andra kvalité produkter.</p>
    <i class="sprite sprite-SalladSkit"></i>
    <p class="sallad_txt">Denna är la go, vet inte riktigt tho. Är ingen kanin lix.</p>
    <i class="sprite sprite-Friscoburgare"></i>
    <p class="frisco_txt">Frisco är vår och Sveriges bästa hamburgare.</p>
    <i class="sprite sprite-CheeseNBacon"></i>
    <p class="cheesenbacon_txt">Gillar du ost? Gillar du bacon? Look no further.</p>
    <i class="sprite sprite-Halloumi"></i>
    <p class="halloumi_txt">Är bara en stor ost bit på lite bröd, vegetarisk tho.</p>
</div>